/* .carousel{
    background-size: cover   ;
    margin-top: 4cm;
    margin-bottom: 5cm;

    width:100%;
    height:100%;
}
 */
 .carousel-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: black;
    text-align: center;
    font-style: oblique;
    font-size: 65px;
  }





/*categorire*/




  .section-header{
    text-align: center;
}

.section-padding{
    padding: 40px 0;
}
.section-title{
    font-size: 30px;
    margin-bottom:10px ;
}

.section-header .line{
    
    display: block;
    width: 50px;
    margin: auto;
    height: 2px;
    background: #7b5244;
    transition: width 0.5s;
}

.section-header:hover .line{
    width: 300px;
}




.ftco-services .services .icon {
    line-height: 1.3;
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}


.bg-color-1 {
    background: #e4b2d6;
}


.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}


.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}


.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

