/*   .navbar{
    background-color:#ffffff;
    border-bottom:2px solid #e8e5df;
    border-top:2px solid #e8e5df;

}
*/

.navbar-nav li a {
    color: black !important;   
}
.navbar-brand {
    color: black !important;
}
.navbar{
    min-height:70px;
}


.navbar  a {
    font-size: 15px;
    font-weight: 700;
}
 

/* header {
    
    height: 100vh;
    min-height: 500px;
    background-image: url("/images/background.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } */
 
  